.Census{
  margin: 100px;
}
.Census h1{
  margin-left: 30px;
  color: grey;
  font-family: Verdana Helvetica sans-serif;
  text-align: none;
}
h2{
  text-align: center;
  margin-bottom: 0px;
}
h2 a{
  margin-right: 20px;
  color: black
}
h2 a :hover{
  color: green;
}
